body {
    width: 100%;
}

.complete {
    width: 50%;
    position: absolute;
    top: 40px;
    left: 350px;
}

.btn {
    font-family: 'Fira Code', monospace;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 20%;
    margin-left: 10px;
    outline: none;
}

.container {
    border: 3px solid black;
    display: grid;
    position: relative;
    /* right: 30px; */
    bottom: 30px;
    padding: 0px;
    margin-top: 50px;
    width: 600px;
    height: 600px;
}

.grid {
    border: 1px solid black;
}